.book-movie {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-movie > a {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

.book-movie-title {
  font-size: 26px;
  font-weight: 500;
}

.book-movie-img > img {
  height: 300px;
  object-fit: cover;
}
