.movies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.movie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 20px;
  font-weight: 500;
}

.movie-link {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

.movies-header {
  font-size: 22px;
  font-weight: 500;
  color: #5f6f94;
}

.movie-genres {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.movie-genre {
  display: inline;
  font-size: 14px;
  background-color: #f65a83;
  border-radius: 4px;
  color: #ffffff;
  padding: 5px 6px;
  margin: 10px;
}

.movie-language {
  font-size: 16px;
}
